#charts-container {
    display: flex;
    flex-flow: row wrap;
}
.chart-card {
    width: fit-content;
    border: 1px solid rgb(167, 159, 159);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 1rem auto 1rem;
}